<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
</head>
<body class="bg-slate-900 text-lime-500">
    <div>
        <div>
            <h1 class="text-center py-8 text-xl font-bold">Esa pagina no existe rey</h1>
        </div>
        <div>
            <img class="w-1/4 m-auto" src="https://www.dropbox.com/s/z2zl93aocovw8g2/pngwing.com.png?raw=1" alt="Imagen de cheems">
        </div>
    </div>
</body>
</html>