---
/* Se crea la plantilla para usar en las demas paginas de prueba */
---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio de prueba</title>
</head>
<body class="bg-slate-900 text-lime-500">
    <h1 class="font-bold text-xl text-center my-6">Mi sitio web | Practica de Astro.build</h1>
    <p class="text-center font-bold">Estilos con Tailwind</p>

    <!-- La etiqueta slot indica lo que estara dentro del componente MainLayout -->
    <slot />
</body>
</html>